---
import Layout from "@/layouts/Layout.astro";
import NavSideBar from "@/modules/Admin/instructor/NavSideBar";
---

<Layout title="Coordinador">
  <NavSideBar client:load />

  <div class="p-4 sm:ml-56">
    <div class="mt-12 p-4 h-full">
      Espacios
    </div>
  </div>
</Layout>
