---
import Layout from "@/layouts/Layout.astro";
import Header from "@/modules/MainPage/components/Header.astro";
import NavBar from "@/modules/MainPage/components/NavBar";
import Calendar from "@/modules/Calendar/Calendar.jsx";
---

<Layout title="Gestor de eventos">
  <Header />
  <NavBar client:load/>
  <section
    class="relative bg-center bg-no-repeat bg-cover bg-[url('/main-img.jpg')] bg-gray-700 bg-blend-multiply  max-w-screen h-full mx-auto"
  >
    <div
      class="flex flex-col items-center justify-center px-4 py-28 mx-auto max-w-screen-xl text-center h-full"
    >
      <h1
        class="mb-4 text-5xl font-extrabold tracking-tight leading-none text-white md:text-6xl"
      >
        Gestor de eventos SENA
      </h1>
      <h2 class="mb-6 text-xl lg:text-2xl font-semibold leading-tight text-gray-100">
        Sede Comercio - Rionegro, Antioquia
      </h2>
      <p
        class="mb-8 text-base font-normal text-gray-300 lg:text-lg sm:px-16 lg:px-60"
      >
        Crea y administra todos tus eventos de manera centralizada y eficiente
        en un solo lugar. Facilita la planificación organizando cada detalle y
        mantén una comunicación constante para asegurar el éxito de cada evento,
        optimizando el tiempo y mejorando la coordinación interna.
      </p>
      <div
        class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0"
      >
        <a
          href="#calendario"
          class="text-white font-bold  bg-primary hover:bg-primary rounded-lg text-lg px-5 py-2.5 text-center inline-flex items-center group"
        >
          Ver calendario
          <svg
            class="rtl:rotate-180 w-4 h-4 ms-2 transition-transform duration-300 ease-in-out group-hover:rotate-90"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"></path>
          </svg>
        </a>
      </div>
    </div>
  </section>

  <Calendar client:load />
</Layout>
