---
import { Image } from "astro:assets";
import logoBlanco from "../../../assets/img/logo-blanco.png";
---

<div>
  <nav class="bg-primary">
    <div
      class="relative max-w-screen-xl flex items-center justify-center mx-auto p-2"
    >
      <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <Image
          src={logoBlanco}
          class="h-7 md:h-8 w-auto"
          height="48"
          alt="Logo Blanco SENA"
        />
        <span
          class="self-center text-xl md:text-2xl font-bold whitespace-nowrap text-white"
        >
          Gestor de eventos
        </span>
      </a>
    </div>
  </nav>
</div>
