---
import { ViewTransitions } from "astro:transitions";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      href="/logo-negro.png"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="icon"
      type="image/png"
      href="/logo-blanco.png"
      media="(prefers-color-scheme: dark)"
    />
    <meta property="og:title" content="Gestor de eventos SENA" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/logo.png" />
    <meta property="og:image:alt" content="Logo Gestor de eventos SENA" />
    <meta
      property="og:description"
      content="Sede Rionegro - Centro de la Innovacion, la Agroindustria y la Aviacion SENA"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"
    ></script>
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Hairline.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  html {
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
    scroll-margin-top: 100px;
  }
  /* Ajustar el scroll margin-top del contenedor */
  #calendario {
    scroll-margin-top: 64px; /* Ajusta esta medida según la altura de tu nav */
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background: #c0c0c0;
    border-radius: 4px;
    cursor: pointer;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #a0a0a0;
  }
</style>
