---
import Layout from "@/layouts/Layout.astro";
import NavSideBar from "@/modules/Admin/components/NavSideBar";
---

<Layout title="Coordinador">
  <NavSideBar client:load />

  <!-- Main Content -->
  <div class="p-4 sm:ml-64">
    <div class="mt-16 p-4 border border-gray-200 rounded-lg shadow bg-white">
      <div class="h-48 mb-4 rounded bg-gray-50">Insumos</div>
    </div>
  </div>
</Layout>
